{% extends 'base.html.twig' %}



{% block content %}
{% if not app.user  %}
{% endif %}

{% if app.user is not null and not is_granted('ROLE_ADMIN') %} {# Si l'utilisateur est connecté et n'est pas un administrateur #}
<form method="post" >
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Cochez la case correspondant à votre réponse <br>
                        0 : Pas du tout d'accord<br>
                        1 : Plutôt pas d'accord<br>
                        2 : Plutôt d'accord<br>
                        3 : Tout à fait d'accord
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th>
                    <label for="entreprise">Nom de l'entreprise :</label>
                    </th>
                    <td>
                    <input type="text" id="entreprise" name="entreprise">
                    </td>
                </tr>
    {% for question in idquestions %} {# Pour chaque question de la base de données #}

                <tr>
                    <th scope="row">
                            <label>{{ question.question }}</label> {# affichage de la question #}
                    </th>
                    <td>
                        <select name="question_{{ question.id }}">{# récupération de l'id de la question #}
                            <option value="0">0</option> {# valeur Pas du tout d'accord #}
                            <option value="1">1</option> {# valeur Plutôt pas d'accord #}
                            <option value="2">2</option> {# valeur Plutôt d'accord #}
                            <option value="3">3</option> {# valeur Tout à fait d'accord #}
                        </select>
                    </td>
        
    {% endfor %}
                </tr>
            </tbody>
        </table>
    <button type="submit">Envoyer</button>
</form>
{% endif %}

{% if is_granted('ROLE_ADMIN') %} {# Si l'utilisateur est connecté en temps qu'administrateur #}
    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Liste des questions</h1>
            </div>
        </div>

        <div class="row alert alert-warning" role="alert">
            <div class="col-xs-9 col-sm-10"></div>
            <div class="col-xs-3 col-sm-2">
                <a href="{{ path('app_register_admin') }}" role="button" class="btn btn-info text-right"> {# bouton ajout d'administrateur #}
                    <i class="fa fa-plus fa-fw"></i> Ajouter un administrateur
                </a>
                <a href="{{ path('questions_add') }}" role="button" class="btn btn-info text-right"> {# bouton ajout de question #}
                    <i class="fa fa-plus fa-fw"></i> Ajouter une question
                </a>
            </div>
        </div>
    </div>

    <div class="container-fluid"> {# Tableau des questions #}
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Question</th>
                    <th scope="col">Enjeu EFC</th>
                    <th scope="col">Enjeu EIT</th>
                    <th scope="col">Enjeu EC</th>
                    <th scope="col">{# Bouton d'action - Supprimer #}</th>
                    <th scope="col">{# Bouton d'action - Modifier #}</th>
                </tr>
            </thead>
            <tbody>
            {% for question in questions %} {# Pour chaque question de la base de données #}
                <tr>
                    <th scope="row">  {# affichage des pondération pour chaque question #}
                        {{ question.question }} 
                    </th>
                    <td>
                        {{ question.enjeuefc }}
                    </td>
                    <td>
                        {{ question.enjeueit }}
                    </td>
                    <td>
                        {{ question.enjeuec }}
                    </td>
                    <td>
                        <a href="{{ path('questions_remove', {'id': question.id}) }}" role="button" class="btn btn-danger">Supprimer</a>
                    </td>
                    <td>
                        <a href="{{ path('questions_edit', {'id': question.id}) }}" role="button" class="btn btn-info">Modifier</a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endif %}
{% endblock %}

{% block stylesheets %}
{% endblock %}
