{% extends 'base.html.twig' %}

{% block content %}
{% if app.user is not null and not is_granted('ROLE_ADMIN') %} {# Si l'utilisateur est connecté et n'est pas un administrateur #}

    <h1>Historique des Scores</h1>
    <div class="container-fluid">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Enjeu EFC</th>
                    <th scope="col">Enjeu EIT</th>
                    <th scope="col">Enjeu EC</th>
                </tr>
            </thead>
    <tbody>
    {% for score in scores %} {# Appel de tous les scores existant dans la bdd #}
        {% if score.user.id == app.user.id %} {# Si l'id dans la table utilisateur est égal à l'id utilisateur dans la table des scores #}
        <tr>
                    <th scope="row">
                        {{ score.entreprise }}  {# affichage nom d'entreprise #}
                    </th>
                    <td>
                        {{ score.efc }} % {# affichage score EFC #}
                    </td>
                    <td>
                        {{ score.eit }} % {# affichage score EIT #}
                    </td>
                    <td>
                       {{ score.ec }} % {# affichage score EC #}
                    </td>
                </tr>
        {% endif %}
    {% endfor %}
            </tbody>
        </table>
{% endif %}

{% if is_granted('ROLE_ADMIN') %} {# Si l'utilisateur est connecté en administrateur #}
<h1>Historique des Scores</h1>

{# Initialisation d'un tableau vide pour stocker les utilisateurs uniques #}
{% set users = {} %} 

{# Boucle sur tous les scores pour extraire les emails des utilisateurs uniques #}
{% for score in scores %}  
    {% set users = users|merge({(score.user.email): null}) %} 
{% endfor %}

{# Boucle sur chaque utilisateur unique #}
{% for user, _ in users %}
{# Filtrage des scores pour obtenir uniquement ceux de l'utilisateur actuel #}
    {% set userScores = scores|filter(score => score.user.email == user) %}
{# Affichage des scores de l'utilisateur actuel dans un élément <details> pour une meilleure lisibilité #}
    <details>
        <summary>{{ user }}</summary>
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">Utilisateur</th>
                    <th scope="col">Entreprise</th>
                    <th scope="col">Enjeu EFC</th>
                    <th scope="col">Enjeu EIT</th>
                    <th scope="col">Enjeu EC</th>
                </tr>
            </thead>
            <tbody>
                {# Boucle sur les scores de l'utilisateur actuel pour les afficher dans un tableau #}
                {% for score in userScores %}
                    <tr>
                        <td>{{ score.user.email }}</td>
                        <td>{{ score.entreprise }}</td>
                        <td>{{ score.efc }} %</td>
                        <td>{{ score.eit }} %</td>
                        <td>{{ score.ec }} %</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </details>
{% endfor %}
{% endif %}
{% endblock %}

